{% extends 'myhome/index.html' %}

{% block title %}
<title>填写订单</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/myhome/theme/css/allstyle.css">

{% endblock %}

{% block ordertop %}
<div class="container clearfix">
    <div class="header-logo fl" style="width:212px;">
        <h1><a href="{% url 'myhome_index' %}"><img src="/static/myhome/theme/icon/logo.png" height="70"></a></h1>
    </div>
    <div class="pc-order-titlei fl" style="margin-top:5px;">
        <h2>填写订单</h2>
    </div>
    <div class="pc-step-title fl">
        <ul>
            <li class="cur2"><a href="#">1 . 我的购物车</a></li>
            <li class="cur"><a href="#">2 . 填写核对订单</a></li>
            <li class=""><a href="#">3 . 成功提交订单</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block yHeader %}

{% endblock %}

{% block banner %}
{% endblock %}

{% block con %}
<!-- 页面内容 -->
<from actions="{% url 'myhome_order_create' %}" method="GET">

<section>
    <div class="containers">
        <div class="pc-space">
            <div class="pc-order-title clearfix">
                <h3 class="fl">收货人信息</h3> <a href="#" class="fr pc-order-add btn1">新增收货地址</a>
            </div>
            <div class="pc-border">
                <div class="pc-order-text clearfix">
                    {% for v in address %}
                    
                    <div class=" clearfix">
                        
                        <li class="clearfix fl">
                            <div class="fl pc-address" id="addressids">
                                <input type="radio"  name="addressids"  {% if v.status == 0 %} checked {% endif %}>
                                <span class="maddres">{{ v.address }}</span> 
                                <span class="addressname" name="{{ v.name }}">（{{ v.name }}收）</span>
                                <span class="phone" name="{{ v.phone }}">{{ v.phone }}</span>
                            </div>
                        </li>  
                        {% if v.status == 0 %}
                        <div class="fl pc-frame pc-frams" style="margin-left:10px;">
                            <a href="#">默认地址</a>
                        </div>
                        {% endif %}
                        
                        <li class="fr">
                            <div class="pc-click"  {% if v.status == 0 %} hidden {% endif %}><a href="#">设为默认地址</a> <a href="#">编辑</a> <a href="#">删除</a> </div>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- 隐藏域  传递当前购物车id  -->
        <input type="hidden" class="cartids" name="cartids" value="{{ request.GET.cartids }}" >

        <div class="pc-space">
            <div class="pc-order-title clearfix">
                <h3 class="fl">支付方式</h3>
            </div>
            <div class="pc-border">
                <div class="pc-order-text clearfix">
                    <ul class=" clearfix">
                        <li class="clearfix fl">
                            <div class="fl pc-frame pc-frams"> <a href="#"> 在线支付</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pc-space">
            <div class="pc-order-title clearfix">
                <h3 class="fl">发货方式</h3>
            </div>
            <div class="pc-border">
                <div class="pc-order-text pc-order-l clearfix">
                    <ul id="H-table" class="clearfix H-table">
                        <li class="cur">
                            <a href="javascript:void(0);">百事汇通</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">顺风快递</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">中通快递</a>
                        </li>
                    </ul>
                    <div class="" style="height:20px"></div>
                    <div class="pc-line"></div>
                    <div class="pc-freight">
                        <p>运费： 8.00元</p>
                    </div>
                </div>
            </div>
        </div>
        
            
    <div class="pc-space">
        <div class="pc-order-title clearfix">
            <h3 class="fl">商品信息</h3>
        </div>
        <div class="pc-border">
            <div class="pc-order-text clearfix">
                {% load pagetag %}
                {% for v in cardata %}
                <div class="clearfix pc-wares-p shopli">
                    <div class="fl pc-wares infoimg"><a href="#"><img src="{{ v.goodsid.pic_url }}" height='82'></a></div>
                    <div class="fl pc-wares-w"> 
                        <a href="#">{{ v.goodsid.goodsname }}</a> 
                        <p class="clearfix">
                            <span class="fl">颜色：{{ v.color }}</span>
                            <span class="fr">尺码：{{ v.sizes }}</span>
                        </p>
                    </div>
                    <div class="fl pc-wares-s">
                        <span class="reds">￥<i class="total">{% Product v.num v.goodsid.price %}</i> </span>
                        <span>x<i class="subnum">{{ v.num }}</i></span>
                        <span>有货</span>
                    </div>
                </div>
                {% endfor %}
                <div class="pc-written"><p>订单留言</p></div>
                <input type="text" class="form-control">
            </div>
        </div>    
    </div>

        <div class="clearfix">
            <div class="fr pc-list-t">
                <ul>
                    <li><span>共 <b class="totalCount">0</b> 件商品，合计（元）:</span> 
                    <span class="totalPrice">0.00</span></li>
                    <li><span>运费：</span> <em>0.00</em></li>
                    <li><span>减额：</span> <em>0.00</em></li>
                </ul>
            </div>
        </div>

        <div class="pc-space-n"></div>
        <div class="clearfix">
            <div class="fr pc-space-j">
                <spna>实付总额（元）:<i class="fa fa-yen" style="color:rgb(200,22,35);"> ￥</i>&nbsp;<strong
                        class="totalPrice">0.00</strong></spna>
                <button class="pc-submit cartSubmit">提交订单</button>
            </div>
        </div>

    </div>
</section>
</from>

<script type="text/javascript">
    (function(a){
        a.fn.hoverClass=function(b){
            var a=this;
            a.each(function(c){
                a.eq(c).hover(function(){
                    $(this).addClass(b)
                },function(){
                    $(this).removeClass(b)
                })
            });
            return a
        };
    })(jQuery);

    $(function(){
        $("#pc-nav").hoverClass("current");
    });

    $(document).ready(function($){

        $(".btn1").click(function(event){
            $(".hint").css({"display":"block"});
            $(".box").css({"display":"block"});
        });

        $(".hint-in3").click(function(event) {
            $(".hint").css({"display":"none"});
            $(".box").css({"display":"none"});
        });

        $(".hint3").click(function(event) {
            $(this).parent().parent().css({"display":"none"});
            $(".box").css({"display":"none"});
        });

        $("#H-table li").each(function(i){
            $(this).click((function(k){
                var _index = k;
                return function(){
                    $(this).addClass("cur").siblings().removeClass("cur");
                    $(".H-over").hide();
                    $(".H-over:eq(" + _index + ")").show();
                }
            })(i));
        });
    });



    $('.cartSubmit').click(function(){
        var data = {}
        // 获取收货地址
        $('#addressids input').each(function(){
            var index = $(this).attr('checked')
            if(index){
                var maddres = $('.maddres').text()
                var phone = $('.phone').attr('name')
                var addressname = $('.addressname').attr('name')
                var cartids = $('.cartids').val()
                data.address = maddres
                data.name = addressname
                data.phone = phone
                data.cartids = cartids
                console.log(data)
                    // 发送AJAX 加入购物车
                $.get('{% url 'myhome_order_create' %}',data,function(data){
                    alert(data.msg);
                    location.href="/order/pay/?orderid="+(data.oid);

                },'json')
            }
        })

    })

    var totalPrice = 0    
    var totalCount = 0 
    //计算总价
    $('.total').each(function(){
        totalPrice += Number($(this).text())
    })
    $('.totalPrice').text(toDecimal2(totalPrice))

    //计算总数
    $('.subnum').each(function(){
        totalCount += Number($(this).text())
    })
    $('.totalCount').text(totalCount)
    
   

</script>

{% endblock %}

{% block jsbanner %}
{% endblock %}