{% extends 'myhome/index.html' %}

{% block title %}
<title>我的收藏</title>
{% endblock %}

{% block css %}
<link href="/static/myhome/theme/css/personal.css" rel="stylesheet" type="text/css">
<link href="/static/myhome/theme/css/systyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/member.css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/login.css">
{% endblock %}

{% block header%}

{% endblock %}

{% block der %}

{% endblock%}

{% block banner %}

{% endblock %}

{% block con %}
<section id="member">
    <div class="member-center clearfix">
        <div class="member-left fl">
			<div class="ddzx"><a href="{% url 'myhome_personal' %}">个人中心</a></div>
			<div class="subddzx">
				<ul>
					<li><a href="{% url 'myhome_information' %}">个人信息</a></li>
					<li><a href="{% url 'myhome_safety' %}">安全设置</a></li>
					<li><a href="{% url 'myhome_address' %}">地址管理</a></li>
					<li><a href="{% url 'myhome_collect' %}">我的收藏</a></li>
				</ul>
			</div>
			<div class="ddzx"><a href="">我的交易</a></div>
			<div class="subddzx">
				<ul>
					<li><a href="{% url 'myhome_orderinfo' %}">订单管理</a></li>
					<li><a href="">退款售后</a></li>
					<li><a href="">评价商品</a></li>
				</ul>
			</div>
		</div>

    <div class="member-right fr">
        <div class="member-head">
            <div class="member-heels fl"><strong class="am-text-danger am-text-lg" style="color:#fff;">我的收藏</strong></div>
            <div class="member-backs member-icons fr"><a href="#">搜索</a></div>
            <div class="member-about fr"><input type="text" placeholder="商品名称/商品编号/订单编号"></div>
        </div>
        <div class="member-switch clearfix">
            <ul id="H-table" class="H-table">
                <li><a href="#">我的收藏的商品</a></li>
            </ul>
        </div>
        <div class="member-border">
           <div class="member-return H-over">
               <div class="member-troll clearfix">
                  <div class="member-all fl"><input type="checkbox" id="selectAll" class="check_all" />全选</div>
                  <div class="member-check clearfix fl"><a id="del" class="member-delete"  >删除商品</a> </div>
               </div>
               <form action="{% url 'myhome_collect_del' %}" method="POST">
                  {% csrf_token %}
                 <div class="time-border-list pc-search-list member-all1 clearfix">
                     <ul class="clearfix" id="all">
                        {% for i in lists %}
                         <li>
                             <a href="{% url 'myhome_info'%}?goodsid={{i.id}}"> <img src="{{i.pic_url}}" style="width: 180px;height: 200px"></a>
                             <p class="head-name"><input type="checkbox" name="check_item" id="check_item" value="{{i.id}}"><a href="{% url 'myhome_info'%}?goodsid={{i.id}}">{{i.title}}</a> </p>
                             <p><span class="price" style="float: right;margin-right: 15px">￥{{i.price}}</span></p>
                         </li>
                        {% endfor %}
                     </ul>
                 </div>
                </form>
             </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    <a style="display:none" class="fl " href="#">上一页</a>
                    <a href="#" class="current">1</a>
                    <a href="javascript:;">2</a>
                    <a href="javascript:;">3</a>
                    <a href="javascript:;">4</a>
                    <a href="javascript:;">5</a>
                    <a href="javascript:;">6</a>
                    <a href="javascript:;">7</a>
                    <span class="pc-search-di">…</span>
                    <a href="javascript:;">1088</a>
                    <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<script type="text/javascript">

  $('#del').click(function(){
    var msg = "您确定要删除你收藏的商品吗？";
    if (confirm(msg)==true){
      $('form').submit();
    }else{
      return false;
    }
  })
  // $('#del').click(function(){
  //     $('form').submit();
  // })
  var checkbox = $('#all :checkbox')
  // 全选
  $('.check_all').click(function() {
      if (this.checked) {
          checkbox.prop('checked', true);
      } else {
          checkbox.prop('checked', false);
      }
  })
  // 单选
  $("#all :checkbox").click(function(){
      var len = $('#all :checkbox').length;
      var length = $('#all :checkbox:checked').length;
      console.log(len,length)
      if(len == length){
          $(".check_all").prop("checked",true)
      }else{
          $(".check_all").prop("checked",false)
      }
  })
</script>

{% endblock%}
{% block jsbanner %}
{% endblock %}