{% extends 'myhome/Users/personal.html' %}

{% block title %}
<title>地址编辑</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/myhome/theme/icon/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/login.css">
{% endblock %}


{% block content %}
<div class="member-right fr">
	<div class="member-head">
	    <div class="member-heels fl"><h2>地址管理</h2></div>
	</div>
	<div class="member-border">
	    <div class="member-sites">
	    	<form action="{% url 'myhome_address_doedit' %}?vid={{vid}}" method="POST" >
		    	{% csrf_token %}
		        <div class="login-input">
	                <label><i class="heart">*</i>收货人：</label>
	                <input type="text" class="list-input1" name="name" 
	                placeholder="收货人" autocomplete="off" required>
	            </div>
	            <div class="login-input">
	                <label><i class="heart">*</i>：收货地址：</label>
	                <input type="text" class="list-input"  name="address"
	                placeholder="收货地址" autocomplete="off" required>
	            </div>
	            <div class="login-input">
	                <label><i class="heart">*</i>手机号：</label>
	                <input type="text" class="list-input3"  name="phone"
	                placeholder="手机" autocomplete="off" maxlength="11" required>
	                <span class="tip-font2"></span>
	            </div>
	            <div class="login-button">
	                <a id="nextStep">完成编辑</a>
	            </div>
	        </form>
	    </div>
	</div>
</div>
<script type="text/javascript">
	// $('.list-input3').blur(function(){
	// 	var phone = $(this).val()
	// 	reg=/^[1][3,4,5,7,8][0-9]{9}$/;
	// 	if(reg.test(phone)){
	// 		$('.tip-font2').remove();
 //            var error1 = '√';
 //            $('.list-input3').after('<span class="loginspg">'+ error1 +'</span>')
	// 	}
	// 	else{
	// 		$('.tip-font2').remove();
 //            var error2 = '手机号格式不正确';
 //            $('.list-input3').after('<span class="loginsp">'+ error1 +'</span>')
	// 	}
	// })
	$('#nextStep').click(function(){
        $(this).parents('form').submit()
    })
</script>
{% endblock %}