{% extends 'myhome/index.html' %}

{% block title %}
<title>个人中心</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/member.css">
<link href="/static/myhome/theme/css/personal.css" rel="stylesheet" type="text/css">
<link href="/static/myhome/theme/css/systyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/login.css">
<link rel="stylesheet" type="text/css" href="/static/myhome/theme/css/infstyle.css">
{% endblock %}

{% block header%}

{% endblock %}

{% block der %}

{% endblock%}

{% block banner %}

{% endblock %}

{% block con %}
<section id="member">
    <div class="member-center clearfix">
      <div class="member-left fl">
        <div class="ddzx"><a href="{% url 'myhome_personal' %}">个人中心</a></div>
        <div class="subddzx">
          <ul>
            <li><a href="{% url 'myhome_information' %}">个人信息</a></li>
            <li><a href="{% url 'myhome_safety' %}">安全设置</a></li>
            <li><a href="{% url 'myhome_address' %}">地址管理</a></li>
            <li><a href="{% url 'myhome_collect' %}">我的收藏</a></li>
          </ul>
        </div>
        <div class="ddzx"><a href="">我的交易</a></div>
        <div class="subddzx">
          <ul>
            <li><a href="{% url 'myhome_orderinfo' %}">订单管理</a></li>
            <li><a href="">退款售后</a></li>
            <li><a href="">评价商品</a></li>
          </ul>
        </div>
      </div>

        <div class="member-right fr">
            <div class="member-border">
               <div class="member-secure clearfix">
                   <div class="member-extent fl">
                       <h2 class="fl">首页</h2>
                   </div>
               </div>
               <div class="member-caution clearfix">
                   <div class="member-prompt">
                          <!--个人信息 -->
                        <div class="m-bg"></div>
                        <div class="m-userinfo">
                          <div class="m-baseinfo" style="margin-top: 20px;margin-left: 22px;">
                            <a href="">
                              <img src="{{data.pic_url}}">
                            </a>
                            <em class="s-name">{{ data.nikename }}<span class="vip1"></em>
                            <div class="s-prestige am-btn am-round">
                              </span></div>
                          </div>
                          <div class="m-right">
                            <div class="m-address">
                              <a href="{% url 'myhome_address'%}" class="i-trigger" style="font-weight: bold;">我的收货地址 &gt;</a>
                            </div>
                          </div>
                        </div>

                      <!--订单 -->
                      <div class="m-order">
                        <div class="s-bar">
                          <i class="s-icon"></i>我的订单
                          <a class="i-load-more-item-shadow" href="order.html">全部订单</a>
                        </div>
                        <ul>
                          <li><a href="order.html"><i><img src="/static/myhome/theme/img/personal/pay.png"/></i><span>待付款</span></a></li>
                          <li><a href="order.html"><i><img src="/static/myhome/theme/img/personal/send.png"/></i><span>待发货<em class="m-num">1</em></span></a></li>
                          <li><a href="order.html"><i><img src="/static/myhome/theme/img/personal/receive.png"/></i><span>待收货</span></a></li>
                          <li><a href="order.html"><i><img src="/static/myhome/theme/img/personal/comment.png"/></i><span>待评价<em class="m-num">3</em></span></a></li>
                          <li><a href="change.html"><i><img src="/static/myhome/theme/img/personal/refund.png"/></i><span>退换货</span></a></li>
                        </ul>
                      </div>
                       <p>安全提示：</p>
                       <p>1. 注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品或支付链接，谨防网购诈骗。</p>
                       <p>2. 建议您安装杀毒软件，并定期更新操作系统等软件补丁，确保账户及交易安全。      </p>
                   </div>
               </div>
            </div>
        </div>    
    </div>
</section>
{% endblock %}

{% block jsbanner %}
{% endblock %}


