{% extends 'myadmin/index.html' %}

{% block title %}
<title>后台商品添加</title>
{% endblock %}


{% block con %}

<link href="/static/myadmin/assets/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>商品添加</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <form class="form-horizontal form-label-left "
                action="{% url 'myadmin_goods_insert' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="section">商品信息填写</span>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">商品所属分类 
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="cateid"  class="form-control" >
                                {% for v in catelist %}
                                <option value="{{v.id}}" {% if v.pid == 0 %} disabled{% endif %}>
                                    {{v.sub}}{{v.name}}
                                </option>
                                {% endfor %}

                            </select>

                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">商品名称 
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="goodsname" class="form-control col-md-7 col-xs-12"
                                data-validate-length-range="6" data-validate-words="2" placeholder="商品名称"
                                required="required">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">商品标题 
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12"
                                placeholder="商品标题">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">商品品牌 
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="brand" required="required" class="form-control col-md-7 col-xs-12"
                               data-validate-length-range="6" data-validate-words="2" placeholder="商品品牌">
                        </div>
                    </div>
                    
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">商品颜色
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="color" required="required" class="form-control col-md-7 col-xs-12"
                               data-validate-length-range="6" data-validate-words="2" placeholder="商品颜色 格式：黑色,白色 (注意是英文符号)">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">商品尺码 
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="sizes" required="required" class="form-control col-md-7 col-xs-12"
                               data-validate-length-range="6" data-validate-words="2" placeholder="商品尺码 格式：M,L (注意是英文符号)">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">商品价格 
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="price" required="required"
                                class="form-control col-md-7 col-xs-12" placeholder="商品价格">
                        </div>
                    </div>

                    <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">商品库存 <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" name="goodsnum" required="required" data-validate-minmax="10,100"
                                    class="form-control col-md-7 col-xs-12" placeholder="商品库存">
                            </div>
                        </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                封面图
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img id="showImg" src="/static/myadmin/assets/img/img.jpg" alt="..." width="200" class="img-rounded">
                            <link rel="stylesheet" href="/static/myadmin/assets/css/inputcss.css">
                            <br>
                            <a href="javascript:;" class="file"><i class="fa fa-folder-open"></i> 选择封面图    
                            <input  id="ReadFile" name="pic" type="file" class="file form-control" >
                            </a>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $('#ReadFile').change(function(){
                            var file = this.files[0];

                            //限定上传文件的类型，判断是否是图片类型
                            if (!/image\/\w+/.test(file.type)) {
                                alert("只能选择图片");
                                return false;
                            }
                            var reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload = function(e) {
                                base64Code = this.result;
                                //把得到的base64赋值到img标签显示
                                $("#showImg").attr("src", base64Code);
                            }
                        })
                    </script>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">商品详情 <span class="required">*</span>
                        </label>
                        <div class="col-md-9 ">
                                <link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
                                <script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
                                <script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
                                <script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
                                <script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>


                                <div class="form-group">
                                    <div class="form-group">
                                        <script id="editor" name="goodsinfo" type="text/plain"
                                            style="height:500px;color:black;"></script>
                                    </div>
                                </div>


                                <script type="text/javascript">
                                    var ue = UE.getEditor('editor');
                                    SyntaxHighlighter.all();
                                </script>
                        </div>
                    </div>
                 
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" class="btn  btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}