{% extends 'myadmin/index.html' %}

{% block title %}
<title>后台权限组添加</title>
{% endblock %}


{% block con %}
<link href="/static/myadmin/assets/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/myhome /theme/css/allstyle.css">
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>权限组添加</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <form class="form-horizontal form-label-left " id="myform"
                    action="{% url 'myadmin_authgroup_insert' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="section">权限组分类添加</span>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">组名 <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="name" class="form-control col-md-7 col-xs-12"
                                data-validate-length-range="6" data-validate-words="2" placeholder="组名"
                                required="required" type="text">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="item form-group ">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            权限 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 allp">
                            <div style="float: left;text-align: center;">
                                <p >可用权限</p>
                                <select class="select1" multiple="multiple"
                                    style="width:300px;height:200px; float:left; border:1px solid rgba(255, 255, 255, 0.2); margin:5px; ">
                                    {% for v in perms %}
                                    <option value="{{ v.id }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                                <p><button id="add_all" class="btn  btn-success" type="button">全选&nbsp;&gt;</button></p>
                            </div>
                    
                            <div style="float: left;width: 50px;height:200px;" >
                                <ul style="margin-top: 100px;padding:0;text-align: center;list-style: none;">
                                    <li><button id="add" class="btn btn-success" type="button">&gt;</button></li>
                                    <br>
                                    <li><button id="remove" class="btn  btn-success" type="button">&lt;</button></li>
                                </ul>
                            </div>
                    
                            <div style="float: left;text-align: center;">
                                <p>已选中的权限</p>
                                <select name="prms" class="select2" multiple="multiple"
                                    style="width:300px;height:200px; float:left; border:1px solid rgba(255, 255, 255, 0.2); margin:5px; ">
                    
                                </select>
                                <p><button id="remove_all" class="btn  btn-success" type="button">全部移除</button></p>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $('#add').click(function(){
                            $('.select1 option:selected').appendTo('.select2');
                        })
                        $('#remove').click(function(){
                            $('.select2 option:selected').appendTo('.select1');
                        })
                        $('#add_all').click(function(){
                            $('.select1 option').appendTo('.select2');
                        })
                        $('#remove_all').click(function(){
                            $('.select2 option').appendTo('.select1');
                        })
                        $('.select1').dblclick(function(){
                            $('option:selected',this).appendTo('.select2');
                        })
                        $('.select2').dblclick(function(){
                            $('option:selected',this).appendTo('.select1');
                        })

                        $('#myform').submit(function(){

                             // $('.select2 option').attr('selected',true) //X
                             $('.select2 option').prop('selected',true) 

                            // return false;
                        })
                    </script>
                    
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" class="btn  btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}